<div class="sidenav" [ngClass]="collapsed ? 'sideanv-collapsed' : '' ">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed"> Angular</div>
    <button class="btn-close" @rotate @fadeInOut *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let nav of navData">
      <a [routerLink]="nav.routeLink" class="sidenav-nav-link">
        <i class="sidenav-link-icon" [class]="nav.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{nav.routeLink}}</span>
      </a>
    </li>
  </ul>
</div>
